<a href="https://colab.research.google.com/github/ThomasTranGithub/3.24.23.recommenderalgo/blob/main/ProofofConcept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [42]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SampleData.csv')

print(data)

      Region     Incidence    Population  Survival  Patient Pool
0         US  3.230000e-06  3.310000e+08      19.4        20.719
1         EU  3.500000e-06  4.480000e+08      19.4        30.419
2      Japan  3.650000e-07  1.260000e+08      32.1         1.477
3      China  2.620000e-07  1.440000e+09      29.2        11.040
4     Taiwan  1.490000e-07  2.380000e+07      30.0         8.109
5     Brazil  2.370000e-06  2.130000e+08      19.0         9.592
6  Argentina  2.370000e-06  4.520000e+07      19.0         2.036

In [54]:
from pandas._libs.tslibs.np_datetime import py_td64_to_tdstruct
from numpy.core.fromnumeric import ptp
#import the libraries

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

#define hard assumptions
US = data.loc[data['Region'] == 'U.S.', 'Population']
EU = data.loc[data['Region'] == 'EU', 'Population']
AS = data.loc[data['Region'] == 'Japan', 'Population']
SA = data.loc[data['Region'] == 'Brazil', 'Population']

print(US, EU, AS, SA)

#define disease specific assumptions Incidence

NX1 = data.loc[data['Region'] == 'U.S.', 'Incidence']
NX2 = data.loc[data['Region'] == 'EU', 'Incidence']
NX3 = data.loc[data['Region'] == 'Japan', 'Incidence']
NX4 = data.loc[data['Region'] == 'Brazil', 'Incidence']

print(NX1 NX2 NX3 NX4)

#define disease specific assumptions Survival

SR1 = data.loc[data['Region'] == 'U.S.', 'Survival']
SR2 = data.loc[data['Region'] == 'EU', 'Survival']
SR3 = data.loc[data['Region'] == 'Japan', 'Survival']
SR4 = data.loc[data['Region'] == 'Brazil', 'Survival']


#write the functions for patient model

pt1 = US * NX1 * SR1
pt2 = EU * NX2 * SR2
pt3 = AS * NX3 * SR3
pt4 = SA * NX4 * SR4

print(pt1, pt2, pt3, pt4)

Series([], Name: Population, dtype: float64) 1    448000000.0
Name: Population, dtype: float64 2    126000000.0
Name: Population, dtype: float64 5    213000000.0
Name: Population, dtype: float64
Series([], Name: Incidence, dtype: float64) 1    0.000003
Name: Incidence, dtype: float64 2    3.650000e-07
Name: Incidence, dtype: float64 5    0.000002
Name: Incidence, dtype: float64
Series([], dtype: float64) 1    30419.2
dtype: float64 2    1476.279
dtype: float64 5    9591.39
dtype: float64

Measure Definitions
Number = The measured or estimated number of people who had an attribute or disease during a specific year.
Prevalence = The measured or estimated percentage of people -- weighted to population characteristics – with an attribute or disease during a specific year.
Age-adjusted Prevalence = Prevalence (see above) standardized to the age distribution of a specific population, usually the U.S. 2000 standard population.
Crude Rate = The measured number of deaths, cases of conditions, diseases or hospitalizations during a specific year – specified as rates per 1,000, per 10,000, per 100,000 or rates per 1,000,000 persons.
Age-adjusted Rate = Crude rate (see above) standardized to the age distribution of a specific population, usually the U.S. 2000 standard population.
Mean = The measured or estimated mean (average or central value of a discrete set of numbers)—weighted to the population characteristics for an attribute or disease during a specific year.
Adjusted Mean = Mean (see above) standardized to the age distribution of a specific population, usually the U.S. 2000 standard population.
Packs Sold per Capita = Packs sold per capita per year.
CI = 95% Confidence Interval.

In [53]:
df = pd.DataFrame(data)

# Prompt the user to select a country or row
user_input = input("Enter 'country' or 'row' to select: ")

if user_input.lower() == 'Region':
    # Prompt the user to select a country
    country_input = input("Enter the name of the country: ")
    selected_row = df[df['Region'] == country_input]
else:
    # Prompt the user to select a row number
    row_input = int(input("Enter the row number: "))
    selected_row = df.iloc[row_input]

# Prompt the user to select the columns
columns_input = input("Enter the column names (comma-separated): ")
selected_columns = columns_input.split(',')

# Extract the selected row and columns
result = selected_row[selected_columns]
print(result)

Enter 'country' or 'row' to select: US
Enter the row number: 0
Enter the column names (comma-separated): Population
Population    331000000.0
Name: 0, dtype: object